*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #3A9AFF;
    text-align: center;
}
h1{
    background-color:#081b31;
    color: white;
    line-height: 5rem;
}
.container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.box{
    height: 150px;
    width:  150px;
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:50%;
}
img:hover{
    cursor: pointer;
    border:5px solid black;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}
.msg-cont{
    margin-top: 2rem;
}

#msg{
    height: 40px;
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}